body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/* header area start */
.header-area {
    background: #fcdb00;
    padding: 40px 0px;
}
.custom-menu ul li a {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #010101 !important;
    text-transform: capitalize;
}
.custom-menu ul li {
    padding: 0px 35px;
}
/* header area end */
/* slider area start */
.slider-part {
    background: #fcdb00;
    padding-bottom: 45px;
}
.inspiration {
    padding: 20px;
}
.inspiration h2,
h4,
p {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}
.inspiration h2 {
    font-size: 32px;
    padding-top: 46px;
}
.inspiration h4 {
    font-size: 19px;
    color: #313841;
    padding: 20px 0px;
}
.inspiration p {
    font-size: 16px;
    color: #555555;
    padding-bottom: 15px;
}
.inspiration ul li {
    font-size: 48px;
    padding: 0px 25px 80px 8px;
}
.inspiration ul li a {
    color: #000000;
}
.custom-indicator li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel-indicators {
    bottom: -32px;
}
.custom-indicator li:hover {
    background-color: #000000;
}
.custom-indicator li.active {
    background-color: #000000;
}
/* slider area end */
/* features part design start */
.feature-title {
    padding: 170px 0px 80px 0px;
}
.feature-title h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
}
.feature-title p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    width: 75%;
    margin: 0 auto;
}
.feature-type-content h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    color: #010101;
}
.feature-type-content p {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    width: 101%;
    font-size: 18px;
    color: #a7a7a7;
}
.featured-details-wrap {
    padding: 0px 100px 135px 100px;
}
.feature-type-image {
    width: 155%;
}
/* features part design end */