body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/* header area start */
.header-area {
    background: #fcdb00;
    padding: 40px 0px;
}
.custom-menu ul li a {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #010101 !important;
    text-transform: capitalize;
}
.custom-menu ul li {
    padding: 0px 35px;
}
/* header area end */
/* slider area start */
.slider-part {
    background: #fcdb00;
    padding-bottom: 45px;
}
.inspiration {
    padding: 20px;
}
.inspiration h2,
h4,
p {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}
.inspiration h2 {
    font-size: 32px;
    padding-top: 46px;
}
.inspiration h4 {
    font-size: 19px;
    color: #313841;
    padding: 20px 0px;
}
.inspiration p {
    font-size: 16px;
    color: #555555;
    padding-bottom: 15px;
}
.inspiration ul li {
    font-size: 48px;
    padding: 0px 25px 80px 8px;
}
.inspiration ul li a {
    color: #000000;
}
.custom-indicator li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel-indicators {
    bottom: -32px;
}
.custom-indicator li:hover {
    background-color: #000000;
}
.custom-indicator li.active {
    background-color: #000000;
}
/* slider area end */
/* features part design start */
.feature-title {
    padding: 170px 0px 80px 0px;
}
.feature-title h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
}
.feature-title p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    width: 75%;
    margin: 0 auto;
}
.feature-type-content h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    color: #010101;
}
.feature-type-content p {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    width: 101%;
    font-size: 18px;
    color: #a7a7a7;
}
.featured-details-wrap {
    padding: 0px 100px 135px 100px;
}
.feature-type-image {
    width: 155%;
}
/* features part design end */
/* support part design start */
.support-part {
    background: #010101;
    padding: 80px;
}
.support-content h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #fcdb00;
}
.support-content p {
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: normal;
    color: #898989;
    padding: 0px 6%;
}
/* its for form design */
.form-design {
    padding: 28px;
}
.custom-input {
    padding-left: 45px;
    padding-right: 0px;
}
.custom-input input {
    padding: 24px;
}
.custom-button {
    margin-left: -7px;
}
.btn-custom {
    background: #fcdb00;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    padding: 12px 28px;
    font-size: 15px;
}
.social-media-icon ul li {
    font-size: 23px;
    background: #fcdb00;
    border-radius: 5px;
    width: 35px;
}
.social-media-icon ul li a {
    color: #000000;
}
.social-media-icon {
    padding: 32px;
}
.list-inline-item:not(:last-child) {
    margin-right: 24px;
}
/* support part design end */
/* footer part design start */
.footer-area {
    background: #010101;
    padding: 0px 0px 90px 100px;
}
.address-column address {
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
    padding: 0px 10%;
    line-height: 25px;
}
.blog-column ul li {
    list-style: none;
}
.blog-column ul li a {
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    text-transform: capitalize;
}
/* footer part design end */
/* font-family: 'PT Sans', sans-serif; */